.card{
  align-items: center;
  background-color: #F9F7F8;
  box-shadow: 5px 7px 6px grey;
  border: 5px solid black;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2%;
  width: 305px;
  padding: 1% 0%;

}

h3 {
  color: #0D334F;
  margin-bottom: 5px;
}

.high {
  color:black;
}

.low {
  color: red;
}

.card.selected {
  border: 5px solid #655F8E;
  background-color: #DDC9D3;
  opacity: 0.6;
}

table {
  margin-bottom: 10px;
}

