.card{
  align-items: center;
  background-color: #F9F7F8;
  box-shadow: 5px 7px 6px grey;
  border: 5px solid black;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2%;
  width: 25%;
}

h3 {
  color: #0D334F;
  margin-bottom: 5px;
}

.high {
  color: red;
}

.low {
  color: black;
}

.card.selected {
  border: 5px solid #655F8E;
  background-color: #DDC9D3;
  opacity: 0.6;
}

table {
  margin-bottom: 10px;
}

