.header {
  background-color: #E5CBCA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0px;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 33px;
  margin: 0px;
  color: #0D334F;
}
