.header {
  background-color: #073B4C;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0px;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 50px;
  margin: 0px;
  color: white;
  font-family: 'Playfair Display', serif;
}
