.header {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0px;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 33px;
  margin: 0px;
  color: pink;
}
